
.icon-building:before { content: '\e800'; } /* '' */
.icon-network:before { content: '\e801'; } /* '' */
.icon-sheet:before { content: '\e802'; } /* '' */
.icon-sheet1:before { content: '\e803'; } /* '' */
.icon-resume:before { content: '\e804'; } /* '' */