$grey: #727272;
$blue: #b9d0ee;
$white: #ffffff;
$cerulean: #0062ce;
$black: #000000;
$black2:#454545;
$black3:#080808;
$blue3: #358dde;
$blue2: #0039a6;
$pink: #ca005d;
$blue1: #052cb9;
$green:#08be50;
$yellow :#ffc101;
$blue4:#b9d0ee;
$white2:#f6f6f6;
$white3:#f8f8f8;
$grey2:#909094;

.color_black2 {
    color: $black2 !important;
}

.bg-white3 {
    background-color: $white3;
}

.b_blue0 {
    background-color: $blue;
}

.b_blue1 {
    background-color: $blue1 !important;
}

.b_blue3 {
    background-color: $cerulean;
}

.b_blue4 {
    background-color: $blue4 !important;
}

.b_pink {
    background-color: $pink;
}

footer.bg-dark {
    background-color: #000000 !important;

    hr.border-top-white {

        border-top: 1px solid rgba(255, 255, 255, 0.21);
    }
}

.f_blue1 {
    color: $blue1;
}

.footer__logo {
    justify-content: end;
    justify-content: flex-end;
}


.container_pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
}


.w-80 {
    width: 80% !important;
}

.pt-6 {
    padding-top: 6rem !important;
}

.darkImage {
    background-color: rgba(0, 0, 0, 0.3);
}


.darkImage:hover,
.darkImage:active {
    background-color: rgba(0, 0, 0, 0.0);
}