.lg-gh {
    position: absolute;
    height: 5rem;
    padding: 1rem 8%;
    z-index: 300;

    .lg-gh__main {
        align-items: center;
        justify-content: space-between;

        .lg-gh__brand {
            margin: 0;
            height: 1.8rem;



        }

        .btn.lg-gh-btn,
        .btn.lg-gh-btn:hover,
        .btn.lg-gh-btn:focus,
        .btn.lg-gh-btn:active {
            border-radius: 2rem;
            height: 3rem;
            width: 10rem;
            background-color: white;
        }

    }
}





.nav-border_b {


    .nav-item {
        a {
            span {
                padding: .5rem 0;
                font-weight: 700;
                color: rgba(255, 255, 255, .5);
                background-color: transparent;
                border-bottom: .25rem solid transparent;
                border-bottom: .25rem solid transparent;
                color: $white;
            }
        }

        i {
            font-size: .8rem;
            vertical-align: .1em;
        }
    }

    .nav-item:hover,
    .nav-item:focus,
    .nav-item.active {
        a {
            span {

                border-bottom-color: $pink;
            }
        }
    }



    .nav-link+.nav-link {
        margin-left: 1rem;
    }

    .nav-item {
        margin-left: .3rem;
        margin-right: .3rem;
    }

    .nav-link.active {
        border-bottom-color: $pink;

    }

    .dropdown-toggle::after {
        display: none;

    }

    .nav-link {
        color: $white;
        padding-bottom: 0;
    }

    .dropdown-menu {
        background: #fff;
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translateX(-50%);


        z-index: 3;

        text-align: left;
        white-space: normal;
        border-radius: 3px;
        border-bottom: 1px solid #edeeee;
        border-bottom: 1px solid #edeeee;

        .d-flex::before {
            cursor: default;
            content: '';
            position: absolute;
            z-index: 2;
            -webkit-transform: translate3d(0, 18px, 0);
            transform: translate3d(0, 18px, 0);
            top: calc(-56% - 8px);
            left: calc(50% - 8px);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 8px 8px;
            border-color: transparent transparent #fff transparent;


        }

    }

    .dropdown-item {
        font-size: 0.9rem;
        padding: .25rem .8rem;
    }

    .dropdown-item.active,
    .dropdown-item:active,
    .dropdown-item:hover,
    .dropdown-item:focus {
        color: #454545;
        text-decoration: none;
        font-weight: 600;
        background-color: $white;
    }



}


.header_text-black {}


@media (max-width:767px) {

    .header_lg {
        .container {
            .navbar-brand {
                align-self: flex-start;
                padding-top: 4.3125rem;
            }
        }
    }

    .nav-border_b {

        color: #454545;

        background-color: $white !important;

        .nav-item {
            a {
                span {
                    padding: .5rem 0;
                    font-weight: 700;

                    background-color: rgb(255, 255, 255);
                    border-bottom: .25rem solid transparent;
                    border-bottom: .25rem solid transparent;
                    color: $white;

                    i {
                        font-size: .8rem;
                        vertical-align: .1em;
                    }
                }
            }

        }

        .nav-item:hover,
        .nav-item:focus {
            a {
                span {
                    border-bottom-color: $pink;
                }
            }
        }

        .nav-link+.nav-link {
            margin-left: 1rem;
        }

        .nav-item {
            a {
                span {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
        }

        .nav-link.active {
            border-bottom-color: $pink;

        }

        .dropdown-toggle::after {
            display: none;

        }

        .nav-link {
            color: #454545;

            padding-bottom: 0;
        }

        .dropdown-menu {

            border: none;
            width: calc(100% + 2rem);

            .d-flex {
                display: block !important;
            }

            .d-flex::before {
                display: none;


            }

        }






    }

}





@media (max-width:1024px) {

    .nav-border_b {
        .nav-item {
            a {
                span {
                    font-size: 1rem;
                }
            }
        }
    }
}