/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.hero_leads {
    height: 100vh;
    .d-flex {
        .hero-first {
            @include background-hero($white3, "../assets/fondo-white.png", 71%, 2rem, 6rem);
            background-blend-mode: darken;
        }
        .second-hero__image {
            background-color: $pink !important;
            border-radius: 8rem 0 8rem 0;
            background-image: none;
        }
    }
    .hero-content {
        line-height: 6rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .container-video {
            position: absolute;
            right: 0%;
            top: -25%;
        }
        video,
        img,
        iframe {
            width: 41.875rem;
            height: 27.25rem;
            position: relative;
            right: 3vh;
            border-radius: 3rem 0;
            background: black;
            -webkit-box-shadow: 29px 33px 69px -13px rgba(0, 0, 0, 0.350);
            box-shadow: 29px 33px 69px -13px rgba(0, 0, 0, 0.350);
            -o-object-fit: contain;
            object-fit: contain;
        }
        video[poster] {
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}

.growth-detail_hr {
    width: 20%;
    margin-left: 0;
    border-width: .5rem;
}

@media (max-width: 768px) {
    .hero_leads {
        .hero-content {
            position: absolute;
            .growth-detail_hr {
                margin: auto;
                border-radius: 1.5rem;
            }
            .container-img_leads {
                display: flex;
                flex-direction: column-reverse;
            }
        }
        .leads-container {
            height: 100%;
            flex-direction: column-reverse;
            .hero-first {
                height: 50%;
                width: 100%;
            }
            .second-hero__image {
                display: block;
                width: 100%;
                position: relative;
                border-radius: 0 0 8rem 8rem;
            }
        }
    }
}