// @mixin forma($color: #000, $alto: 100px) {
//   background-color: $color;
//   height: $alto;
// }

// $colores: (#aaa, #ddd, #000);
// @for $i from 1 through length($colores) {
//   #rec#{$i} {
//     @include forma(nth($colores, $i));
//   }
// }
// @each $i in $colores {
//     $i:index($colores: , $value: );
//   #rec#{$i} {
//     @include forma($color, $i));
//   }

// #rec1{
//     @include forma(red);
// }

// #rec1{
//     @include forma(null,null);
// }
// #rec1{
//     @include forma(nth($colores,2),100px);
// }


@mixin background-hero($color, $urlimg, $backSize, $backX, $backY) {

    background-color: $color;
    ;
    width: 60%;
    padding: 0 6% 0% 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url($urlimg);
    background-repeat: no-repeat;
    background-size: $backSize;
    background-position-x: $backX;
    background-position-y: $backY;
    background-blend-mode: color-dodge;
    border-radius: 0 0 0 5rem;
}



@mixin footer($height, $color, $colortop:$white) {
    height: height;
    align-items: center;
    padding: 0 6% 0% 6%;
    background-color: $color;
    border-top: .2rem solid $colortop;
}


@mixin btn($color) {
    border-radius: 2rem;

    height: 4.15rem;
    z-index: 200;

    background-color: $color;
    border: none;
}

@mixin hr-tiny-color($color) {
    border-top: 0.3rem solid $color;
}

.hr-tiny-pink {
    @include hr-tiny-color($pink);
}

.hr-tiny-green {
    @include hr-tiny-color($green);
}

.hr-tiny-blue {
    @include hr-tiny-color($blue3);
}

.hr-tiny-yellow {
    @include hr-tiny-color($yellow);
}

.border-shadow {

    -webkit-box-shadow: -2px 5px 46px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: -2px 5px 46px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0rem 0.2rem 0.4rem 0.12rem rgba(0, 0, 0, 0.20);
}


.font-sz-1_1 {
    font-size: 1.1rem;
}

.hr-tiny-line {
    width: 3.3rem;
    border-radius: 2rem;
    margin-left: 0;
}


.background-pink {
    background-color: $pink;
}

.background-blue3 {
    background-color: $blue3;
}

.background-green {
    background-color: $green;
}

.vh40 {
    height: 40vh;
}

.vh80 {
    height: 80vh;
}




.card-img-height {
    object-fit: cover;
    height: 15rem;
}

.fsz-1_5 {
    font-size: 3.5rem;
}

.nav-border_b {


    .nav-item {
        padding: .5rem 0;
        font-weight: 700;
        color: rgba(255, 255, 255, .5);
        background-color: transparent;
        border-bottom: .25rem solid transparent;
        border-bottom: .25rem solid transparent;
        color: $white;

        i {
            font-size: .8rem;
            vertical-align: .1em;
        }
    }

    .nav-item:hover,
    .nav-item:focus {
        border-bottom-color: $pink;
    }

    .nav-link+.nav-link {
        margin-left: 1rem;
    }

    .nav-item {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav-link.active {
        border-bottom-color: $pink;

    }

    .dropdown-toggle::after {
        display: none;

    }

    .nav-link {
        color: $white;
        padding-bottom: 0;
    }

    .dropdown-menu {
        background: #fff;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);


        z-index: 3;

        text-align: left;
        white-space: normal;
        border-radius: 3px;
        border-bottom: 1px solid #edeeee;
        border-bottom: 1px solid #edeeee;

        .d-flex::before {
            cursor: default;
            content: '';
            position: absolute;
            z-index: 2;
            -webkit-transform: translate3d(0, 18px, 0);
            transform: translate3d(0, 18px, 0);
            top: calc(-36% - 8px);
            left: calc(50% - 8px);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 8px 8px;
            border-color: transparent transparent #fff transparent;


        }

    }

    .dropdown-item.active,
    .dropdown-item:active,
    .dropdown-item:hover,
    .dropdown-item:focus {
        color: #454545;
        text-decoration: none;
        font-weight: 600;
        background-color: $white;
    }



}


@media (max-width:767px) {
    .lq-body-wrapper {
        .lq-body {
            .container-text__SixthPage {
                .groupTitle {
                    .title {
                        font-size: 3.5rem !important;
                    }
                }
            }
        }
    }

    .fsz-1_5 {
        font-size: 2.5rem;
    }

    .nav-border_b {

        color: #454545;

        background-color: $white !important;

        .nav-item {
            padding: .5rem 0;
            font-weight: 700;

            background-color: rgb(255, 255, 255);
            border-bottom: .25rem solid transparent;
            border-bottom: .25rem solid transparent;
            color: $white;

            i {
                font-size: .8rem;
                vertical-align: .1em;
            }
        }

        .nav-item:hover,
        .nav-item:focus {
            border-bottom-color: $pink;
        }

        .nav-link+.nav-link {
            margin-left: 1rem;
        }

        .nav-item {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .nav-link.active {
            border-bottom-color: $pink;

        }

        .dropdown-toggle::after {
            display: none;

        }

        .nav-link {
            color: #454545;

            padding-bottom: 0;
        }

        .dropdown-menu {

            border: none;
            width: calc(100% + 2rem);

            .d-flex {
                display: block !important;
            }

            .d-flex::before {
                display: none;


            }

        }






    }

}