.third-article-3 {
    .roundBorder {
        @include btn($white);
    }
}

.first-article-3,
.second-article-3 {
    .roundBorder {
        @include btn($white);
        border: 0.0625rem solid $grey;
        border-radius: 2rem;
        height: 3.5rem;
        color: $black;
        text-align: center;
        width: 19.1875rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.hero-container .roundBorder {
    @include btn($pink);
    padding: 2.1rem;
}

.lq-body {
    .container-text-homeColor.container-text__ThirdPage {
        @include background-hero($blue1, "../assets/fondo-enterate.png", 83%, -1rem, 6rem);
        background-blend-mode: initial;
        .groupTitle {
            padding: 0% 16% 0% 0%;
            .title {
                font-size: 4.5rem;
                padding: 0% 16% 0% 0%;
            }
            .subtitle {
                font-size: 1.1rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}

footer.bg-dark {
    border-top: 0px;
}

.row-pride {
    position: absolute;
    right: inherit;
    z-index: 500;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .row {
        .col-12.groupTitle {
            a.container_pill {
                width: 16.3125rem;
                text-align: center;
                color: #000000;
                padding-top: 1.4625rem;
                padding-bottom: 1.4625rem;
            }
        }
        position: relative;
        top: -4rem;
        //mixin faltacrear
        .row-pride__img-1,
        .row-pride__img-2,
        .row-pride__img-3 {
            .groupTitle {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
                padding: 1rem;
                height: 100%;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }
        }
        .row-pride__img-1 {
            background-image: url("../assets/12.jpg");
            height: 25.3125rem;
            background-size: cover;
            -o-object-fit: contain;
            object-fit: contain;
            width: 21.875rem;
        }
        .row-pride__img-2 {
            background-image: url("../assets/Bitmap-3.png");
            height: 25.3125rem;
            background-size: cover;
            -o-object-fit: contain;
            object-fit: contain;
            width: 21.875rem;
        }
        .row-pride__img-3 {
            background-image: url("../assets/14.jpg");
            height: 25.3125rem;
            background-size: cover;
            -o-object-fit: contain;
            object-fit: contain;
            width: 21.875rem;
        }
    }
}

.margin-page {
    margin: 0 8% 0% 8%;
}

.move-background {
    position: relative;
    top: 2.57rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 82.1rem;
    right: -36.5rem;
}

.vh100 {
    height: 100vh;
}

.vh40 {
    height: 40vh;
}

.second-article-3.background-pink {
    height: 37.5rem;
    border-radius: 0 4rem 0 0;
    .carousel-pink {
        margin: 0 auto;
        .carousel-inner {
            height: 28.9375rem;
            width: 57.5rem;
            margin: auto;
        }
        .carousel-control-prev {
            left: -9rem;
        }
        .carousel-control-next {
            right: -9rem;
        }
        .carousel-indicators-pink {
            bottom: -4rem;
            li {
                height: .4rem;
                border-radius: .2rem;
                border: none;
                background-color: $blue4;
            }
            .active {
                background-color: $pink;
            }
        }
    }
}

.lead_position {
    position: relative;
    z-index: 3000;
}

.pride-blue__container {
    width: 93%;
    position: relative;
    right: -7%;
    border-radius: 10rem 0 0 0;
    background-image: url(../assets/fondo-somos-intercorp.png);
    background-repeat: no-repeat;
    background-position-x: 40rem;
    background-size: 48%;
    background-position-y: 3rem;
    height: 33.4375rem;
}

@media (max-width:991px) {
    .lq-body {
        .container-text-homeColor.container-text__ThirdPage {
            @include background-hero($blue1,
            "../assets/fondo-enterate.png",
            83%,
            -1rem,
            6rem);
            padding: 5rem 6% 0% 8%;
            .groupTitle .title {
                font-size: 3.5rem;
                padding: 0% 16% 0% 0%;
            }
        }
    }
}