.lq-body-wrapper {
    .lq-body {
        .container-text-homeColor.container-text__FourthPage {


            @include background-hero($yellow, "../assets/fondo-enterate.png", 83%, -1rem, 6rem);
            background-blend-mode: normal;

            .bg-white {
                border-radius: 2.5rem 0 0 0;
                width: 84.1%;
            }

            .groupTitle__contentWhite {
                z-index: 100;
                padding: 5rem 1.2% 0% 11% !important;
                justify-content: flex-end;
                flex-direction: column;

                .title {
                    font-size: 4.2rem;
                }

            }


        }
    }
}

.triplets_container {

    align-items: center;

    .triplets__container--text {
        width: 45%;
        padding-left: 1rem !important;
        margin-bottom: 0 !important;
    }


    .triplets_container--img {
        width: 6rem;
        height: 6rem;

        .triplets--img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }


    }

}

.after__hero {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: calc(100vh - 3rem);
}

section.last_news {
    margin-top: 5rem;
}



footer {

    align-items: center;
    padding: 0 8% 0% 8%;
    @include footer(6rem, "auto", $white);
}

@media (max-width: 768px) {
    .lq-body-wrapper.container {


        .lq-body {


            .container-text-homeColor {

                .groupTitle__contentWhite .title {}
            }
        }
    }



    .lq-body-wrapper .lq-body .container-text-homeColor.container-text__FourthPage {

        width: 100%;
    }

    .lq-body-wrapper {
        width: 100%;

        .lq-body {
            .container-text-homeColor.container-text__FourthPage {
                .groupTitle__contentWhite .title {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .scroll-mobile {
        flex-wrap: nowrap;
        overflow: auto;
    }

}