.lq-body-wrapper {
    .lq-body {
        .container-text-homeColor.container-text__FifthPage {
            @include background-hero($blue3, "../assets/fondo-enterate.png", 83%, -1rem, 6rem);

            .bg-white {
                border-radius: 2.5rem 0 0 0;
                width: 84.1%;
            }

            .groupTitle__contentWhite {
                z-index: 100;
                padding: 10% 15.2% 0% 0% !important;
                padding: 10% 1.2% 0% 11% !important;
                justify-content: flex-end;
                flex-direction: column;

                .title {
                    font-size: 5.2rem;
                }

            }
        }

        .lq__second {
            border-radius: 6rem 0rem 6rem 0rem;
        }
    }
}


@media (max-width:697px) {
    .lq-body-wrapper {
        .lq-body {

            .container-text-homeColor.container-text__FifthPage,
            .container-text-homeColor.container-text__FourthPage {
                height: 100%;

                .bg-white {
                    border-radius: 2.5rem 0;
                    width: 100%;
                }

                .groupTitle__contentWhite {

                    padding: 5rem 0% 0% 0% !important;

                    flex-direction: column;


                    .bg-white {


                        .d-flex.justify-content-between {
                            flex-direction: column;

                            .d-flex.justify-content-between {
                                flex-direction: row;

                                .container_pill {
                                    display: flex;
                                    display: flex;
                                    justify-content: center;
                                    margin-top: 1em;

                                    a {

                                        display: flex;
                                        justify-content: center;
                                    }
                                }


                            }

                            a.container_pill {

                                display: flex;
                                justify-content: center;
                            }
                        }
                    }

                }
            }

            .lq__second {
                border-radius: 6rem 0rem 6rem 0rem;
            }
        }
    }
}