.body {
    height:
        calc(100vh + 5rem);
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}



footer {

    align-items: center;
    padding: 0 8% 0% 8%;
    @include footer(6rem, null, $white);
}



@media (max-width: $breakpoint-9) {

    footer {

        @include footer(5rem, $blue1, $blue3);

        p {
            margin: 0;
            color: $white !important;
        }
    }






    .lg-gh {
        .lg-gh__main {
            .btn.lg-gh-btn {
                width: 7rem !important;
                font-size: .8rem;
            }
        }
    }



}