button.navbar-toggler {
    padding-top: 4.3125rem;
}

.navbar-toggler-icon {
    background-image: url(../assets/menu.svg);
}

@media(max-width:1024px) {

    //primera pagina
    .hero_Double {
        .first-hero__Text {

            width: 100vw;
        }

        .second-hero__image {
            display: none;
        }

        .hero-content {
            margin: 0 auto;
            text-align: center;

            hr {

                margin: 0 auto;
            }

            form.group_Input {
                margin: 0 auto;

                .hero-icon-input {
                    left: 10%;
                }
            }
        }
    }

    //fin de primera pagina 

    //comienzo de segunda pagina
    body.sIbody {
        .hero_Double .first-hero__Text {
            height: 120vh;
        }

        .row-we-inter {
            width: 100%;
            padding-top: 3.25rem;
            flex-flow: wrap;
            justify-content: space-around;
            align-items: center;

            .four_cards {
                padding: 2rem;


                .card {
                    width: 27vw;
                    height: 29vh;
                }
            }


        }

        .hero-secondPage.hero_Double {
            .hero-content {
                top: -107vh;
            }

        }
    }

    .footer_lg.sI-foo {
        width: 100vw;
        position: relative;
        bottom: -124vh;
    }
}


@media(max-width:767px) {
    .header_lg {
        .container {
            .navbar-brand {
                align-self: flex-start;
                padding-top: 4.3125rem;
            }

            .navbar.navbar-expand-md {
                justify-content: flex-end;

                .navbar-toggler {}
            }
        }
    }


    * {
        font-size: 4vh;
    }

    .header_lg {
        .logo_header {
            padding-top: 0.7em;
            width: 5em;
            padding-left: 0.3em;
        }
    }

    //primera pagina
    .hero_Double {
        .first-hero__Text {

            width: 100vw;
        }

        .second-hero__image {
            display: none;
        }

        .hero-content {
            .title_hero {
                font-size: 1.3em;
                text-align: center;
            }

            .hero_hr-blue {
                border-top: 1.3rem solid #358dde;
                width: 29.3rem;

                margin: 0 auto;
            }

            .subTitle_hero {
                padding-top: 3.5rem;
                font-size: 3.5rem;
                line-height: 5.5rem;
                text-align: center;
            }

            form.group_Input {
                width: 100%;

                .hero-input {
                    height: 9rem;
                    width: 100%;
                    border-radius: 5.1875rem;
                    padding: 2rem 4rem 2rem 10rem;
                    font-size: 3.1rem;
                }

                .hero-input_btn {

                    border-radius: 2.1875em;
                    height: 11rem;
                    width: 100%;
                    border: none;
                    font-size: 3.1rem;
                    position: absolute;
                    left: 0;
                    top: calc(100% + 1em);
                    text-align: center;
                    padding: 3.4rem 0 !important;
                }

                .hero-icon-input {
                    top: 53%;
                    left: 3.6rem;
                    font-size: 3.2rem;
                }
            }
        }


    }

    .footer_lg {


        p {
            font-size: 3.1rem;
            padding-bottom: 2rem;
            padding-top: 2rem;
            text-align: center;
            color: $white
        }
    }

    .bodyOne {
        background-color: $blue1;
    }

    //fin de primera pagina 

    //segunda pagina 
    body.sIbody {
        background-color: $blue3;
    }

    .four_cards {
        .card {
            .card-title {
                font-size: 3rem;

                //fin segunda pagina
            }
        }
    }


}




@media(max-width:576px) {
    .row-we-inter {
        .four_cards {
            .card {
                width: 35vw;
            }
        }
    }

    .hero_findOut {
        .hero-content {
            .title_hero {
                font-size: 2em !important;
            }

            .subTitle_hero {
                font-size: 0.7em;
            }

            .group_Input {

                height: 1em;
                width: 5em;

                margin: .8em auto;

                .hero-input_btn {
                    font-size: .7em;
                    border-radius: 2em;
                }
            }
        }
    }


    //tercera pagina
    .font-sz-1_1 {
        font-size: 4.8rem;
    }

    .pill-p-center {
        width: 32rem;

        padding: 1.5rem 3rem;

        .montserrat-sb {
            font-size: 4rem;
        }
    }

    .container_pill {
        font-size: 4rem;

        padding: 1.5rem 3rem;

        .montserrat-sb {

            font-size: 4rem;
        }
    }

    .card-body {
        .p-4 {
            padding: 3.5rem !important;

            .card-text {
                font-size: 4rem;
                margin-bottom: 3rem;
            }
        }
    }


    .fsz-3_75 {
        font-size: 8.75rem;
    }

    .hr-tiny-green {
        width: 11.3rem;
        border-top: 1.3rem solid rgb(8, 190, 80);
    }

    .row {
        .col-md-4.col-sm-6 {
            margin-bottom: 5rem;
        }
    }

    .hero_findOut {
        .d-flex {
            .hero-first {
                background-size: 178%;
                background-position-y: center;
                background-position-x: center;
            }
        }
    }


    .first-article-3 .roundBorder,
    .second-article-3 .roundBorder {
        font-size: 4rem;
        width: 59.1875rem;
        height: 9.5rem;
        border-radius: 6rem;
        border-width: 0.3rem;
        padding: 2rem 0;
    }


    .second-article-3.background-pink {
        height: 55.5rem;
        border-radius: 0px 9rem 0px 0px;

        .carousel-pink {
            width: 100% !important;

            .carousel-inner {
                height: 49.9375rem;
                width: 92.5rem;
            }

            .carousel-indicators-pink li {
                height: 1.4rem;
                border-radius: 2.2rem;
            }

            .carousel-control-next {
                right: 0rem;
            }

            .carousel-control-prev {
                left: 0rem;
            }
        }
    }

    .hr-tiny-yellow {
        border-top-width: 1.3rem;
        width: 11.3rem;
    }


    .third-article-3 {
        margin-top: 21rem !important;
    }

    .pride-blue__container {
        height: 95.4375rem;
        background-size: 100%;
        background-position-y: 21rem;
        background-position-x: 12rem;
        width: 100%;
        right: 0;
        border-radius: 10rem 10rem 0 0;
    }

    .row-pride {
        .row {
            flex-wrap: nowrap;
            overflow-x: scroll;
            width: 100%;
            margin: 0 auto;

            .col-md-4 {
                width: auto;

                .w100 {
                    height: 77.3125rem;
                    width: 66.875rem;
                }
            }
        }
    }


    .lead_position {
        .groupTitle {
            margin-top: 7rem !important;
        }
    }


    footer.bg-dark {
        .col-12.col-md-8 {
            .row {
                .col-6 {
                    h5 {
                        font-size: 5.5rem;
                    }

                    ul {
                        li {
                            .text-gray {

                                font-size: 4.5rem;
                            }

                            a:hover {
                                color: $white
                            }
                        }
                    }
                }
            }
        }

        .footer__logo {
            img {
                height: 6.8rem !important;
            }

        }

        .pt-5 {
            p {
                font-size: 4rem;
            }
        }
    }


    //vista novedades"
    .hero_novedades {
        .d-flex {
            .hero-first {
                background-position-x: center;
                background-position-y: center;
                background-size: 171%;
            }
        }

        .hero-content {
            top: -77vh;

            h1 {
                font-size: 2em !important;
            }

            .hero-white_text {
                width: 100% !important;
                border-radius: 5rem 0 5rem 0;
                margin-top: 6rem;

                .subTitle_hero_white-container {
                    font-size: 5rem;
                }

                .subTitle-child_hero_white-container {
                    font-size: 4rem;
                }
            }
        }

    }

    .after__hero {
        width: 100%;

        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: calc(96vh - 4em);
        overflow-x: scroll;

        .scroll-mobile {
            flex-wrap: nowrap;

            width: 233rem;

            .triplets_container {
                align-items: center;
                flex-direction: column;
                width: 81rem;
                padding: 2rem 0 2rem 0;

                .triplets_container--img {
                    width: 71rem;
                    height: 23rem;


                }

                .triplets__container--text {
                    text-align: center;
                    width: 100%;
                    padding-left: 0rem !important;
                    margin-bottom: 0 !important;
                    font-size: 4rem;
                }
            }
        }
    }

    .album {
        padding-top: 2em !important;

        .last_news {
            .row {
                .col-md-4 {
                    padding-bottom: .8em;

                    .card {
                        .p-3 {
                            padding: 3rem !important;

                            .card-text {
                                font-size: .6em;
                            }
                        }
                    }
                }
            }
        }
    }

    .fsz-3_1 {
        font-size: 8.125rem;
    }

    .card-img-height {

        height: 60rem;
    }

    .hero_pride_double {

        .d-flex {
            .first-hero__Text {
                width: 100vw;
                background-size: 163%;
                background-position-x: center;
                background-position-y: 67%;
            }
        }

        .hero-content {
            h1 {
                font-size: 2em !important;
            }

            .hero-white_text {
                width: 100% !important;
                border-radius: 5rem 0 5rem 0;
                margin-top: 6rem;

                .subTitle_hero_white-container {
                    font-size: 5rem;
                }

                .subTitle-child_hero_white-container {
                    font-size: 4rem;
                }
            }
        }
    }

    .hero_leads {
        .hero-content {}
    }

}

@media(max-height:400px) {
    .footer_lg {
        bottom: -135vh;
    }
}




@media(max-width:415px) {
    body.sIbody {
        .hero_Double .first-hero__Text {
            height: calc(29vh*5.3);
        }
    }

    body.sIbody {
        .hero-secondPage.hero_Double {
            .hero-content {
                top: -146vh;
            }
        }

        .row-we-inter {
            .four_cards {
                .card {
                    width: 50vw;
                }
            }
        }

        .footer_lg.sI-foo {
            width: 100vw;
            position: relative;
            bottom: -157vh;
        }

    }
}