figure.offBorder {
    position: relative;
    width: 100vw;
    left: -4.6rem;

    img {
        height: 27rem;
        object-fit: cover;
    }

}


.lq-body-wrapper {
    .lq-body {
        .detalle {
            .groupTitle {
                .title {
                    font-size: 3.5rem;
                }
            }
        }
    }
}