/* importa variables
 */
$breakpoint-tablet: 768px;
$breakpoint-9: 991px;

.br-hero_img {
    border-radius: 8rem 0 8rem 0;
}

@import "colors";

@import "mixins";
@import "home";
@import "fonts";
@import "header";
@import "somosIntercorp";

@import "nosotros";
@import "novedades";
@import "orgullo";
@import "lideres";
@import "detalle";
@import "enterate";